body {
  background-color: black;
  font-family: "Glass TTY VT220", "Courier New", monospace;
  color: #00FF41;
  animation: textShadow 1.6s infinite;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: left;
}

#projects ul {
  list-style: none;
  padding-left: 0;
}

#projects li::marker {
  content: ">>";
  color: #00FF41;
  font-family: "OCR A Extended", monospace;
}

html {
    overflow-y: scroll;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
  padding: 0;
}

nav li::marker {
  content: "";
}

header {
  width: 100%;
  font-size: 1.2em;
  background-color: black;
  color: #00FF41;
  line-height: 1.6;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

main,
.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

nav ul {
  font-size: 40px;
  color: #d81515;
  margin: 10px 0;
  padding: 0;
  gap: 35px;
  display: flex;
  list-style: none;
  justify-content: left;
}

footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color: #00FF41;
  text-shadow: 0 0 8px rgba(0, 255, 65, 0.6);
  padding: 20px 0;
  position: relative;
  z-index: 5;
  margin-top: auto;
}

a:visited {
  color: #FF8C00;
  text-shadow: 0 0 5px rgba(255, 140, 0, 0.8);
  text-decoration: none;
}

a:visited:hover {
  color: #FFA500;
  text-shadow: 0 0 20px rgba(255, 165, 0, 1);
}