header {
    font-size: 1.2em;
  font-family: "Glass TTY VT220", "Courier New", monospace;
  color: #00ff00;
    background-color: black;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background-color: black;
}
.terminal {
  font-family: "Glass TTY VT220", "Courier New", monospace;
  color: #00ff00;
  font-size: 15px;
  line-height: 1.2;
}

nav ul {
    font-size: 1.2em;
    color: #d81515;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
}

.myh1class {
    color: #063b74;
}

.mypclass {
    color: #cd0505;
}

p1 {
    font-size: 30px;
  font-family: "Glass TTY VT220", "Courier New", monospace;
  color: #00ff00;
  font-size: 15px;
  line-height: 1.2;
}

h1 {
  font-family: "Glass TTY VT220", "Courier New", monospace;
  color: #00ff00;
  font-size: 15px;
  line-height: 1.2;
}

p {
  font-family: "Glass TTY VT220", "Courier New", monospace;
  color: #00ff00;
  font-size: 15px;
  line-height: 1.2;
}

a{
     font-size: 50px;
    font-family: 'Westminster', monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.img {
    text-align: center;
}


    footer{
    font-family: Arial, sans- serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    background-color:
        #333;
    color: #fff;

}





